<!--Creating a form for creating a new bookr-->
<h2 class="page-header">New Book</h2>
<form action="/books" method="POST">  <!--Sending post request to a server-->
  <%- include('_form_fields') %>   <!--Creating new partials file in ../books/_form_fields.ejs for name label-->
  <div class="form-row form-row-end btn-row">
  <a class="btn btn-danger" href="/books">Cancel</a>
  <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>


