<!-- Book display to the user-->
<h2 class="page-header"><%= book.title %></h2>
<img src="<%= book.coverImagePath %>">
<div>Author: <%= book.author.name %></div>   <!-- We see author name because we put 'populate' the author in /routes/books-->
