<% bookCoverClass = locals.large ? 'book-cover-large' : '' %>   <!-- For large book cover img-->
<% bookGridClass = locals.large ? 'book-grid-large' : '' %>     
<div class="book-grid <%= bookGridClass %>">                   <!-- This is how will look like the books grid-->
  <% books.forEach(book => { %>
    <a href="/books/<%= book.id %>">
      <img class="book-cover <%= bookCoverClass %>" src="<%= book.coverImagePath %>">
    </a>
  <% }) %>
</div>