<!-- Delete form from the author index page-->
<form method="POST" action="<%= url %>?_method=DELETE"> <!-- _method is query, Browser Link -->
  <button class="btn btn-danger" type="submit">Delete</button>
</form>