<!--This file will help us to break out our ejs files into smaller files and allow us to import these files multiple times and other files so we dont need to duplicate our code all over the place-->
<header>
  <nav>
    <a href="/">TolkLibrary</a>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add Author</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/books/new">Add Book</a></li>
    </ul>
  </nav>
</header>
<!--So we dont need to memorize our URL, we just click the links to build it go to our different pages-->