<!DOCTYPE html>
<html land='en'>
 <head>
<meta charset=utf-8> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TolkLibrary</title>
  </head>
  <body>
   <!--all the code of our application goes here, before and after every single page-->
 
  <%- include('../partials/header.ejs') %> <!--Including everything from ../partials/header.ejs-->
    <%- include('../partials/errorMessage.ejs') %> <!--Including everything from ../partials/errorMessage.ejs-->
  <%- body %>    <!--Content of everything from our application from ./views/index.ejs-->
  </body>
</html>