<!DOCTYPE html>
<html land='en'>
 <head>
<meta charset=utf-8> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TolkLibrary</title>
  </head>
  <body>
   <!--all the code of our application goes here, before and after every single page-->
  Before 
  <br>
  <%- body %>    <!--Content of everything of our application from index.ejs-->
  <br>
  After
  </body>
</html>