<!--Form input for a name-->
<label>Name</label>
<input type="text" name="name" value="<%= author.name %>"> 
 <!-- This sign %= tell the server to create author.name you got from inside <%=   %> this -->