<h2>Search Authors</h2>
<form action="/authors" method="GET">   <!--Method is GET from author.js All Authors Route-->
  <label>Name</label>
  <input type="text" name="name" value ="<%= searchOptions.name %>"> <!-- Putting in html input field from server-->
  <button type="submit">Search</button>
</form>
<br>
<% authors.forEach(author => { %>  <!-- Means % that we are running code on server, and put author inside of html div -->
  <div><%= author.name %></div>
<% }) %>